<!DOCTYPE HTML>

<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='StyleSheet.css') }}">
</head>
<html>

<body>

    <div id="header">
        <div class="UserSection">
            <a href="/logout">Logout</a>
        </div>
    </div>

    <div id="body">
        <div id="leftpane">
            <table id="leftnavtable">
            	<tbody>
                    <tr class="caserow">
                        <td><h2><u>Home<u></h2></td>
                    </tr>
                    <tr class="caserow">
                        <td>Pre-Test</td>
                    </tr>
                    <tr class="caserow">
                        <td><b>Patient History</b></td>
                    </tr>
                    <tr class="caserow">
                        <td>Imaging</td>
                    </tr>
                    <tr class="caserow">
                        <td>Report</td>
                    </tr>
                    <tr class="caserow">
                        <td>Summary</td>
                    </tr>
                    <tr class="caserow">
                        <td>Post-Test</td>
                    </tr>
               	</tbody>
            </table>
        </div>

        <div id="centerpanenoright">
            <table id="centernavtable">
            	<h1>History</h1>
                <hr>
                <button id="backButton" type="button">Back</button>
                <button id="nextButton" type="button">Next!</button>
                <br><hr>
                <p>Imagine you are in clinic or on the wards and you are ordering a chest x ray on a patient. Look at the following histories given in the "History" information to the radiologist filled out by the ordering physician. Are they helpful to the radiologist? Do they give pertinent information or do they simply fulfill the requirement of having something in the History box.</p> 
                <table id="historiestable">
                    <thead>
                        <tr><th>Given Patient History</th><th>Details</th></tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
                <p><i>How did you do?</i></p>
                <hr>
                <button id="showButton" type="button">Show Explanation</button>
                <hr>
                <div id="historyexplanation" style="display:none;">
                </div>
            </table>
            <hr>
            <button id="backButton" type="button">Back</button>
            <button id="nextButton" type="button">Next!</button>
            <br><hr>
        </div>
    </div>
    
    <div id="footer">
    </div>

</body>

</html>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>
selectedCaseID = getParameterByName("caseID");

function addHistoryToTable(history, adequate) {
    $('#historiestable > tbody:last').append('<tr class="historyrow"><td>' + history + '</td><td class="historyanswercol" style="display:none;">' + adequate + '</td></tr>');
};

function loadHistoryExplanation(explanation) {
    $("#historyexplanation").html(explanation);
};

$(document).ready(function($) {
    $("#leftnavtable").on("click", ".caserow", function() {
        if ($(this).children("td").html() == "Pre-Test") {
            window.location = "/pretest?caseID=" + selectedCaseID;
        } else if ($(this).children("td").html() == "Patient History") {
            window.location = "/history?caseID=" + selectedCaseID;
        } else if ($(this).children("td").html() == "Imaging") {
            window.location = "/imaging?caseID=" + selectedCaseID;
        } else if ($(this).children("td").html() == "Report") {
            window.location = "/report?caseID=" + selectedCaseID;
        } else if ($(this).children("td").html() == "Summary") {
            window.location = "/summary?caseID=" + selectedCaseID;
        } else if ($(this).children("td").html() == "Post-Test") {
            window.location = "/posttest?caseID=" + selectedCaseID;
        } else if ($(this).children("td").html().indexOf("Home") > -1) {
            window.location = "/";
        };
    });

    $("#centerpanenoright").on('click', "#backButton", function() {
        window.location = "/pretest?caseID=" + selectedCaseID;
    });
    $("#centerpanenoright").on('click', "#nextButton", function() {
        window.location = "/imaging?caseID=" + selectedCaseID;
    });

    $("#centerpanenoright").on('click', "#showButton", function() {
        $("#historyexplanation").css("display", "block");
        $("#centerpanenoright").scrollTop($("#centerpanenoright")[0].scrollHeight);
    });

    $.post("/history", {'caseID':selectedCaseID}, function(data, status) {
        obj = JSON.parse(data);
        results = obj[0];

        for (var i = 0; i < results['history'].length; i = i+1) {
            addHistoryToTable(results['history'][i], results['history_adequate'][i]);
        };
        
        loadHistoryExplanation(results['history_explanation']);
    });

    $("#historiestable").on("click", ".historyrow", function() {
        $(this).children(".historyanswercol").css("display", "table-cell");
    });
});

function getParameterByName(name) {
    name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
    var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
        results = regex.exec(location.search);
    return results == null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
}
</script>