<!DOCTYPE HTML>

<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='StyleSheet.css') }}">
</head>
<html>

<body>

    <div id="header">
        <div class="UserSection">
            <a href="/logout">Logout</a>
        </div>
    </div>

    <div id="body">
        <div id="leftpane">
            <table id="leftnavtable">
            	<tbody>
                    <tr class="caserow">
                        <td><h2><u>Home<u></h2></td>
                    </tr>
                    <tr class="caserow">
                        <td>Pre-Test</td>
                    </tr>
                    <tr class="caserow">
                        <td>Patient History</td>
                    </tr>
                    <tr class="caserow">
                        <td><b>Imaging</b></td>
                    </tr>
                    <tr class="caserow">
                        <td>Report</td>
                    </tr>
                    <tr class="caserow">
                        <td>Summary</td>
                    </tr>
                    <tr class="caserow">
                        <td>Post-Test</td>
                    </tr>
            	</tbody>
            </table>
        </div>

        <div id="centerpanenoright">
            <h1>Imaging</h1>
            <hr>
            <button id="backButton" type="button">Back</button>
            <button id="nextButton" type="button">Next!</button>
            <br><hr>
            <p>Look at the images below. These images are either images of a patient with a finding or are normal chest x rays. Click <a target="_blank" href="/get/random_normal_cxr">HERE</a> to pull up a reference of a normal chest x ray. Can you decide find which ones are normal?</p>
            <p><i>Hints: click on the image to make it larger! Click on ??? to determine if the image was normal or not!</i></p>
            <p><i>Normal chest x-rays (PA and Lateral): <a target="_blank" href="/get/random_normal_cxr">HERE</a>, refresh to get a new image.</i></p>
            <table id="imagingtable">
                <thead>
                    <tr><th>Image</th><th></th><th>Normal?</th></tr>
                </thead>
            	<tbody>
            	</tbody>
            </table>
            <p><i>How did you do?</i></p>
            <hr>
            <button id="showButton" type="button">Show Explanation</button>
            <hr>
            <div id="imagingexplanation" style="display:none;"></div>
            <hr>
            <button id="backButton" type="button">Back</button>
            <button id="nextButton" type="button">Next!</button>
            <br><hr>
        </div>

    </div>

    <div id="footer">
    </div>

</body>

</html>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>
selectedCaseID = getParameterByName("caseID");

function addImagesToTable(image, normal) {
    $('#imagingtable > tbody:last').append('<tr class="imagingrow"><td class="imageCol"><a target="_blank" href="' + image + '"><img src="' + image + '" width="500"></img></a></td><td class="showTD">???</td><td class="imaginganswerCol" style="display:none;">' + normal + '</td></tr>');
};

function loadImagingExplanation(explanation) {
    $("#imagingexplanation").html(explanation);
};

$(document).ready(function($) {
    $("#leftnavtable").on("click", ".caserow", function() {
        if ($(this).children("td").html() == "Pre-Test") {
            window.location = "/pretest?caseID=" + selectedCaseID;
        } else if ($(this).children("td").html() == "Patient History") {
            window.location = "/history?caseID=" + selectedCaseID;
        } else if ($(this).children("td").html() == "Imaging") {
            window.location = "/imaging?caseID=" + selectedCaseID;
        } else if ($(this).children("td").html() == "Report") {
            window.location = "/report?caseID=" + selectedCaseID;
        } else if ($(this).children("td").html() == "Summary") {
            window.location = "/summary?caseID=" + selectedCaseID;
        } else if ($(this).children("td").html() == "Post-Test") {
            window.location = "/posttest?caseID=" + selectedCaseID;
        } else if ($(this).children("td").html().indexOf("Home") > -1) {
            window.location = "/";
        };
    });
    $("#centerpanenoright").on('click', "#backButton", function() {
        window.location = "/history?caseID=" + selectedCaseID;
    });
    $("#centerpanenoright").on('click', "#nextButton", function() {
        window.location = "/report?caseID=" + selectedCaseID;
    });

    $("#centerpanenoright").on('click', "#showButton", function() {
        $("#imagingexplanation").css("display", "block");
        $("#centerpanenoright").scrollTop($("#centerpanenoright")[0].scrollHeight);
    });

    $("#imagingtable").on('click', ".showTD", function() {
        $(this).parents(".imagingrow").children(".imaginganswerCol").css("display", "table-cell");
    });

    $.post("/imaging", {'caseID':selectedCaseID}, function(data, status) {
        obj = JSON.parse(data);
        results = obj[0];

        for (var i = 0; i < results['imaging'].length; i = i+1) {
            addImagesToTable(results['imaging'][i], results['imaging_normal'][i]);
        };
        loadImagingExplanation(results['imaging_explanation']);
    });
});

function getParameterByName(name) {
    name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
    var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
        results = regex.exec(location.search);
    return results == null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
}
</script>