<!DOCTYPE HTML>
<html>
<header>
PICK THE NORMAL
</header>
<body>
<div style="width: 100%; overflow:hidden;">
	<div id="paneLeft" class="Pane" style="width: 49%; float: left;">
	</div>
	<div id="paneRight" class="Pane" style="margin-left:49%;">
	</div>
</div>
</body>
</html>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>
var normal=-1
var abnormal=-1

function setPane(item, pane) {
	var loc = "<img src='" + item["image_loc"] + "' style='width: 100%'/>";
	$(pane).append(loc);
}

function loadQuiz() {
	$.get("/get/normal_quiz", function(data, status) {
		var obj = JSON.parse(data);
		window.normal = obj['normal'];
		window.abnormal = obj['abnormal'];

		if (Math.random() > 0.5) {
			setPane(obj['normal'], "#paneLeft");
			setPane(obj['abnormal'], "#paneRight");
		} else {
			setPane(obj['normal'], "#paneRight");
			setPane(obj['abnormal'], "#paneLeft");
		}
	});
}

$(document).ready(function($) {
	loadQuiz();
});

</script>