<!DOCTYPE HTML>

<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='StyleSheet.css') }}">
</head>
<html>

<body>

    <div id="header">
        <div class="UserSection">
            <a href="/logout">Logout</a>
        </div>
    </div>

    <div id="body">
        <div id="leftpane">
            <table id="leftnavtable">
            	<tbody>
                    <tr class="caserow">
                        <td><h2><u>Home<u></h2></td>
                    </tr>
                    <tr class="caserow">
                        <td>Pre-Test</td>
                    </tr>
                    <tr class="caserow">
                        <td>Patient History</td>
                    </tr>
                    <tr class="caserow">
                        <td>Imaging</td>
                    </tr>
                    <tr class="caserow">
                        <td><b>Report</b></td>
                    </tr>
                    <tr class="caserow">
                        <td>Summary</td>
                    </tr>
                    <tr class="caserow">
                        <td>Post-Test</td>
                    </tr>
            	</tbody>
            </table>
        </div>

        <div id="centerpanenoright">
            <h1>Radiologist's Report</h1>
            <hr>
            <button id="backButton" type="button">Back</button>
            <button id="nextButton" type="button">Next!</button>
            <br><hr>
            <div id="report"></div>
            <p><i>What do you think? What kinds of questions does this report answer? What doesn't it tell you?</i></p>
            <hr>
            <button id="showButton" type="button">Show Explanation</button>
            <hr>
            <div id="reportexplanation" style="display:none;"></div>
            <hr>
            <button id="backButton" type="button">Back</button>
            <button id="nextButton" type="button">Next!</button>
            <br><hr>
        </div>
    </div>

    <div id="footer">
    </div>

</body>

</html>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>
selectedCaseID = getParameterByName("caseID");

function loadReport(report, adequate) {
    $('#report').html(report);
};

function loadReportExplanation(explanation) {
    $('#reportexplanation').html(explanation);
};

$(document).ready(function($) {
    $("#leftnavtable").on("click", ".caserow", function() {
        if ($(this).children("td").html() == "Pre-Test") {
            window.location = "/pretest?caseID=" + selectedCaseID;
        } else if ($(this).children("td").html() == "Patient History") {
            window.location = "/history?caseID=" + selectedCaseID;
        } else if ($(this).children("td").html() == "Imaging") {
            window.location = "/imaging?caseID=" + selectedCaseID;
        } else if ($(this).children("td").html() == "Report") {
            window.location = "/report?caseID=" + selectedCaseID;
        } else if ($(this).children("td").html() == "Summary") {
            window.location = "/summary?caseID=" + selectedCaseID;
        } else if ($(this).children("td").html() == "Post-Test") {
            window.location = "/posttest?caseID=" + selectedCaseID;
        } else if ($(this).children("td").html().indexOf("Home") > -1) {
            window.location = "/";
        };
    });


    $("#centerpanenoright").on('click', "#backButton", function() {
        window.location = "/imaging?caseID=" + selectedCaseID;
    });
    $("#centerpanenoright").on('click', "#nextButton", function() {
        window.location = "/summary?caseID=" + selectedCaseID;
    });

    $("#centerpanenoright").on('click', "#showButton", function() {
        $("#reportexplanation").css("display", "block");
        $("#centerpanenoright").scrollTop($("#centerpanenoright")[0].scrollHeight);
    });

    $.post("/report", {'caseID':selectedCaseID}, function(data, status) {
        obj = JSON.parse(data);
        results = obj[0];

        loadReport(results['report'], results['report_adequate']);
        loadReportExplanation(results['report_explanation']);
    });
});

function getParameterByName(name) {
    name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
    var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
        results = regex.exec(location.search);
    return results == null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
}
</script>