<!DOCTYPE HTML>

<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='StyleSheet.css') }}">
</head>
<html>

<body>

    <div id="header">
        <div class="UserSection">
            <a href="/logout">Logout</a>
        </div>
    </div>

    <div id="body">
        <div id="leftpane">
            <table id="leftnavtable">
            	<tbody>
                    <tr class="caserow">
                        <td>Pre-Test</td>
                    </tr>
                    <tr class="caserow">
                        <td>Ordering History</td>
                    </tr>
                    <tr class="caserow">
                        <td>Imaging</td>
                    </tr>
                    <tr class="caserow">
                        <td>Report</td>
                    </tr>
                    <tr class="caserow">
                        <td>Summary</td>
                    </tr>
                    <tr class="caserow">
                        <td>Post-Test</td>
                    </tr>
            	</tbody>
            </table>
        </div>

        <div id="centerpanenoright">
            <h1>Summary</h1>
            <div id="summaryexplanation"></div>
            <p><i>So, think you've learned something? Let's see.</i></p>
            <hr>
            <button id="backButton" type="button">Back</button>
            <button id="nextButton" type="button">Next!</button>
        </div>
    </div>
    
    <div id="footer">
    </div>

</body>

</html>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>
selectedCaseID = getParameterByName("caseID");

function loadSummaryExplanation(explanation) {
    $("#summaryexplanation").html(explanation);
};

$(document).ready(function($) {
    $("#leftnavtable").on("click", ".caserow", function() {
        if ($(this).children("td").html() == "Pre-Test") {
            window.location = "/pretest?caseID=" + selectedCaseID;
        } else if ($(this).children("td").html() == "Ordering History") {
            window.location = "/history?caseID=" + selectedCaseID;
        } else if ($(this).children("td").html() == "Imaging") {
            window.location = "/imaging?caseID=" + selectedCaseID;
        } else if ($(this).children("td").html() == "Report") {
            window.location = "/report?caseID=" + selectedCaseID;
        } else if ($(this).children("td").html() == "Summary") {
            window.location = "/summary?caseID=" + selectedCaseID;
        } else if ($(this).children("td").html() == "Post-Test") {
            window.location = "/posttest?caseID=" + selectedCaseID;
        }
    });

    $("#centerpanenoright").on('click', "#backButton", function() {
        window.location = "/report";
    });
    $("#centerpanenoright").on('click', "#nextButton", function() {
        window.location = "/posttest?caseID=" + selectedCaseID;
    });

    $.post("/summary", {'caseID':selectedCaseID}, function(data, status) {
        obj = JSON.parse(data);
        results = obj[0];

        loadSummaryExplanation(results['summary']);
    });
});

function getParameterByName(name) {
    name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
    var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
        results = regex.exec(location.search);
    return results == null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
}
</script>