#header, #body, #footer { position: absolute; }
#header { height: 60px; top: 0; left: 0; right: 0; }
#body { top: 70px; left: 0; right: 0; bottom: 70px; }
#footer { height: 60px; left: 0; right: 0; bottom: 0; }

#header {
    background-color:rgb(150,150,150);
    text-align:left;
    padding:5px;
}

#body {
    overflow-y: hidden;
    margin:5px;
}

#leftpane {
    box-sizing:border-box;
    line-height:30px;
    background-color:rgb(175,175,200);
    width:175px;
    height:100%;
    float:left;
    padding:5px; 
}

#centerpane {
    height:100%;
    float:left;
    padding:10px; 
    margin:5px;
    overflow:auto;
}

#centernavtable td {
    border: 1px solid #98bf21;
    padding: 3px 7px 2px 7px;
}

#centernavtable th {
    text-align: left;
    padding-top: 5px;
    padding-bottom: 4px;
    background-color: #A7C942;
    color: #ffffff;
}

#centernavtable tr.centerRowAlt td {
    color: #000000;
    background-color: #EAF2D3;
}

#centerpanenoright {
    box-sizing:border-box;
    height:100%;
    border:3px solid navy;
    padding:8px;
    overflow-y:auto;
    overflow-x:auto;
}
#rightpane {
    box-sizing:border-box;
    line-height:30px;
    background-color:rgb(125,125,125);
    height:100%;
    width:400px;
    float:right;
    padding:8px; 
    border:3px solid navy;
}
#footer {
    background-color:rgb(150,150,150);
    color:white;
    clear:both;
    text-align:right;
    padding:5px; 
}

#pretesttable td {
    border: 1px solid #98bf21;
    padding: 3px 7px 2px 7px;
}

#pretesttable th {
    text-align: left;
    padding-top: 5px;
    padding-bottom: 4px;
    background-color: #A7C942;
    color: #ffffff;
}

#pretesttable tr.questionRowAlt td {
    color: #000000;
    background-color: #EAF2D3;
}

#historiestable td {
    border: 1px solid #98bf21;
    padding: 3px 7px 2px 7px;
}

#historiestable th {
    text-align: left;
    padding-top: 5px;
    padding-bottom: 4px;
    background-color: #A7C942;
    color: #ffffff;
}

#historiestable tr.questionRowAlt td {
    color: #000000;
    background-color: #EAF2D3;
}

#imagingtable {
    width:95%;
}

#imagingtable td {
    border: 1px solid #98bf21;
    padding: 3px 7px 2px 7px;
}

#imagingtable th {
    text-align: left;
    padding-top: 5px;
    padding-bottom: 4px;
    background-color: #A7C942;
    color: #ffffff;
}

#imagingtable tr.questionRowAlt td {
    color: #000000;
    background-color: #EAF2D3;
}

#posttesttable td {
    border: 1px solid #98bf21;
    padding: 3px 7px 2px 7px;
}

#posttesttable th {
    text-align: left;
    padding-top: 5px;
    padding-bottom: 4px;
    background-color: #A7C942;
    color: #ffffff;
}

#posttesttable tr.questionRowAlt td {
    color: #000000;
    background-color: #EAF2D3;
}


.superRow {
	cursor:pointer;
}

.subRow {
	cursor:pointer;
}

.centerRow {
	cursor:pointer;
}

.centerRowAlt {
    cursor:pointer;
}

.caserow {
    cursor:pointer;
}

.questionRow {

}
.questionCol {
    width:40%;
    cursor:pointer;
}

.answerCol {
    width:60%;
    display:none;
}

.historyrow {
    cursor:pointer;
}

.imagingrow {
    cursor:pointer;
    width:100%;
}

.imageCol {
    width:500px;
}

.imaginganswerCol {
}

#backButton {
    float:left;
}

#nextButton {
    float:right;
}

#doneButton {
    float:right;
}